* {
    text-align: center;
}

body {
    background: rgb(9, 121, 95);
    background: linear-gradient( 84deg, rgba(9, 121, 95, 1) 0%, rgba(9, 112, 121, 1) 24%, rgba(163, 0, 227, 1) 97%);
    margin-top: 5%;
}

#item {
    list-style-type: none;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#input {
    border-radius: 10px;
    border: 1px solid white;
}

#remove {
    border-radius: 5px;
    background-color: rgb(182, 182, 182);
    border: 2px solid rgb(182, 182, 182);
}

.button {
    border-radius: 5px;
    color: black;
    text-shadow: 1px 1px 1px white;
    background-color: rgb(182, 182, 182);
    border: 2px solid rgb(182, 182, 182);
}